<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>wau</name>
    <description>
       Projekt wirtualny asystent urzędowy   </description>
    <author email="nowy_xx@o2.pl" href="">
       R.N. &amp; M.Y.
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <plugin name ="cordova-plugin-whitelist" />
    <plugin name ="cordova-plugin-geolocation"/>
    <plugin name ="cordova-plugin-websql"/>
    <plugin name ="cordova-plugin-inappbrowser" />
    <plugin name ="cordova-plugin-googlemaps">
     <param name="API_KEY_FOR_ANDROID" value="AIzaSyAqYvGdKSQLqaIR0YRA7akJlVQbcCzF61w" />
    </plugin>
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
         <allow-navigation href="http://*/*" />
<allow-navigation href="https://*/*" />
<allow-navigation href="data:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
         </platform>
   
 <preference name="permissions" value="none"/>

    <!-- to enable individual permissions use the following examples -->
    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
</widget>
